<!-- About-->
<section id="about" class="about-section">
  <div class="container">
    <header class="text-center">
      <h2 data-animate="fadeInDown" class="title">About me</h2>
    </header>
    <div class="row">
      <div data-animate="fadeInUp" class="col-lg-6">
        <p>
          As an outgoing and experienced web developer, I possess a strong
          skill-set in both backend and frontend development.
        </p>
        <p>
          I have a proven track record of success as the lead developer for the
          Philippines' first applicant tracking software and resume bank.
        </p>
        <p>
          I am well-versed in various programming languages and have experience
          creating dynamic web and mobile applications.
        </p>

        <p>Click my picture below to download my resume 😊</p>

        <div class="row">
          <div data-animate="fadeInUp" class="col-sm-6 mx-auto">
            <a
              href="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/JasonRayga.pdf"
              title="Download Resume"
            >
              <img
                src="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/img/jasonrayga.jpg"
                alt="This is me - Jason Rayga"
                class="image rounded-circle img-fluid"
              />
            </a>
          </div>
        </div>
      </div>
      <div data-animate="fadeInUp" class="col-lg-6">
        <div class="skill-item">
          <div class="progress-title">PHP</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">PostgreSQL</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Javascript</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">HTML coding</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">CSS & Bootstrap</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Ionic Angular</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Angular 2+</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">AngularJS 1.x</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">Firebase (Hosting and Functions)</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar progress-bar-skill5"
            ></div>
          </div>
        </div>
        <div class="skill-item">
          <div class="progress-title">C# (ASP.NET)</div>
          <div class="progress">
            <div
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              class="progress-bar"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
