<!-- Intro Image-->
<section id="intro" class="intro-section pb-2 intro-image-bg">
  <div class="container text-center">
    <div data-animate="fadeInDown" class="logo">
      <img
        src="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/it-worker-theme/img/logo-big.png"
        alt="logo"
        width="130"
      />
    </div>
    <h1
      data-animate="fadeInDown"
      class="text-shadow mb-5"
      style="text-shadow: -7px 5px 4px black"
    >
      <strong>Hello, hola, नमस्ते, Kamusta!</strong>
    </h1>
    <p
      data-animate="slideInUp"
      class="h3 text-shadow text-400"
      style="text-shadow: -3px 3px 4px black"
    >
      <strong>Jason Rayga here! At your service ❤️</strong>
    </p>
  </div>
</section>
