<!DOCTYPE html>
<html lang="en" ng-app="module">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta itemprop="name" content="JasonRayga" />
    <meta itemprop="url" content="https://www.jrayga.com/" />
    <meta
      name="description"
      content="As an outgoing and experienced web developer, I possess a strong skill-set in both backend and frontend development. I have a proven track record of success as the lead developer for the Philippines' first applicant tracking software and resume bank. I am well-versed in various programming languages and have experience creating dynamic web and mobile applications..."
    />

    <title>All About | Jason Rayga</title>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="JasonRayga" />
    <meta name="twitter:site" content="https://twitter.com/JasonRayga" />

    <!-- Facebook Open-graph data -->
    <meta property="og:title" content="JasonRayga" />
    <meta property="og:site_name" content="JasonRayga" />
    <meta property="og:type" content="website" />
    <meta property="og:url" itemprop="url" content="https://www.jrayga.com/" />
    <meta name="robots" content="all,follow" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/img/jasonrayga.png"
    />
    <meta
      property="og:description"
      content="As an outgoing and experienced web developer, I possess a strong skill-set in both backend and frontend development. I have a proven track record of success as the lead developer for the Philippines' first applicant tracking software and resume bank. I am well-versed in various programming languages and have experience creating dynamic web and mobile applications..."
    />

    <!-- Favicon-->
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/img/jasonrayga.png"
    />

    <!-- Main CSS and Other CSS Plugins -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100%7CRoboto:400,700,300,100"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/css/animate_css/source/animate.css"
    />
    <link rel="stylesheet" href="./dist/main/css/main.min.css" />

    <!-- AngularJS, Other JS Plugins and Controller-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="./dist/main/js/main.min.js"></script>
    <script src="./public/minified/all.min.js"></script>

    <!-- BASE HREF -->
    <base href="/" />
  </head>

  <body ng-controller="Index" ng-cloak>
    <!-- navbar-->
    <nav
      class="navbar navbar-expand-lg navbar-light py-4 py-lg-0 fixed-top bg-white border-bottom"
    >
      <div class="container">
        <a
          class="navbar-brand font-serif text-uppercase h6 text-primary fw-bold mb-0"
          ng-click="goTo('intro')"
          href=""
        >
          Jason Rayga
        </a>
        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">
            <li
              class="nav-item"
              ng-repeat="(k,v) in navigationURLs track by $index"
            >
              <a class="nav-link text-uppercase" ng-click="goTo(v.url)" href="">
                {{v.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Image-->
    <section id="intro" class="intro-section pb-2 intro-image-bg">
      <div class="container text-center">
        <div data-animate="fadeInDown" class="logo">
          <img
            src="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/img/intro-icon.png"
            alt="logo"
            width="130"
          />
        </div>
        <h1
          data-animate="fadeInDown"
          class="text-shadow mb-5"
          style="text-shadow: -7px 5px 4px black"
        >
          <strong>Hello, hola, नमस्ते, Kamusta!</strong>
        </h1>
        <p
          data-animate="slideInUp"
          class="h3 text-shadow text-400"
          style="text-shadow: -3px 3px 4px black"
        >
          <strong>Jason Rayga here! At your service ❤️</strong>
        </p>
      </div>
    </section>

    <!-- About-->
    <section id="about" class="about-section">
      <div class="container">
        <header class="text-center">
          <h2 data-animate="fadeInDown" class="title">About me</h2>
        </header>
        <div class="row">
          <div data-animate="fadeInUp" class="col-lg-6">
            <p>
              Hi there! 👋 I'm an outgoing and seasoned web developer with
              expertise in both backend and frontend development.
            </p>
            <p>
              I take pride in my role as the lead developer behind the
              Philippines' first applicant tracking system and resume bank, a
              project that highlights my ability to deliver impactful solutions.
            </p>
            <p>
              With a versatile skill set spanning multiple programming
              languages, I specialize in crafting dynamic web and mobile
              applications that meet modern demands.
            </p>
            <p>
              Curious to know more about my journey? Click my picture below to
              download my resume! 😊
            </p>

            <div class="row">
              <div data-animate="fadeInUp" class="col-sm-6 mx-auto">
                <a
                  href="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/JasonRayga.pdf"
                  title="Download Resume"
                >
                  <img
                    src="https://raw.githubusercontent.com/jrayga/JasonRayga/master/ASSETS/img/jasonrayga.png"
                    alt="This is me - Jason Rayga"
                    class="image rounded-circle img-fluid"
                  />
                </a>
              </div>
            </div>
          </div>
          <div data-animate="fadeInUp" class="col-lg-6">
            <div class="skill-item">
              <div class="progress-title">PHP</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">PostgreSQL</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 65%"
                  aria-valuenow="65"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Javascript</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">HTML coding</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">CSS & Bootstrap</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Ionic Angular</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Angular 2+</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">AngularJS 1.x</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Firebase (Hosting and Functions)</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar progress-bar-skill5"
                ></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">C# (ASP.NET)</div>
              <div class="progress">
                <div
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  class="progress-bar"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section id="services" class="bg-gradient services-section">
      <div class="container">
        <header class="text-center">
          <h2 data-animate="fadeInDown" class="title">Services</h2>
        </header>
        <div class="row services text-center">
          <div data-animate="fadeInUp" class="col-lg-6">
            <div class="icon"><i class="fa fa-search"></i></div>
            <h3 class="heading mb-3 text-400">Consulting</h3>
            <p class="text-left description">
              As a seasoned software developer with over six years of experience
              in the industry, I possess a deep passion for technology and an
              extensive skill set that encompasses various aspects of app
              development. With my wealth of general IT knowledge, I have honed
              my expertise in this field. As a highly knowledgeable and
              experienced professional, I excel at guiding clients through the
              intricacies of app development. I offer valuable insights, best
              practices, and innovative solutions to address complex challenges.
              Whether you need advice on coding, software architecture, or IT
              strategies, I am your go-to consultant who can provide tailored
              guidance based on your unique needs. With a proven track record of
              successful projects and a commitment to staying up-to-date with
              the latest industry trends, I am the ideal partner to help you
              navigate the ever-evolving world of app development and
              information technology. Count on me to deliver exceptional results
              and assist you in achieving your goals.
            </p>
          </div>
          <div data-animate="fadeInUp" class="col-lg-6">
            <div class="icon"><i class="fa fa-desktop"></i></div>
            <h3 class="heading mb-3 text-400">Fullstack App Development</h3>
            <p class="text-left description">
              With over six years of experience as a skilled software developer,
              I excel in providing comprehensive Fullstack App Development
              solutions. My deep understanding of both frontend and backend
              technologies enables me to create robust and user-friendly
              applications. Leveraging my expertise in various programming
              languages, frameworks, and databases, I seamlessly navigate the
              entire development process, from conceptualization to deployment.
              My keen eye for detail and commitment to delivering high-quality
              software make me a valuable asset to any development team. I
              continuously stay abreast of the latest industry trends and best
              practices, ensuring that the applications I develop are scalable,
              efficient, and meet the unique needs of clients. Whether it's
              crafting intuitive user interfaces or architecting powerful
              server-side logic, I consistently demonstrate my ability to create
              exceptional Fullstack applications that drive business growth and
              user satisfaction.
            </p>
          </div>
        </div>
        <hr data-animate="fadeInUp" />
        <div data-animate="fadeInUp" class="text-center">
          <p class="lead">
            Would you like to know more or just discuss something?
          </p>
          <p>
            <a
              href="mailto:raygajason@gmail.com"
              target="_blank"
              class="btn btn-outline-light link-scroll"
            >
              Contact me
            </a>
          </p>
        </div>
      </div>
    </section>

    <!-- References -->
    <section id="references">
      <div class="container">
        <div class="col-sm-12">
          <div class="mb-5 text-center">
            <h2 data-animate="fadeInUp" class="title">My work</h2>
            <p data-animate="fadeInUp" class="lead">
              I have worked on dozens of projects so I have picked only the
              latest for you.
            </p>
          </div>
          <div id="detail">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <span class="close">x</span>
                <div id="detail-slider" class="owl-carousel owl-theme"></div>
                <div class="text-center">
                  <h1 id="detail-title" class="title"></h1>
                </div>
                <div id="detail-content"></div>
              </div>
            </div>
          </div>
          <!-- Reference detail-->
          <div id="references-masonry" data-animate="fadeInUp">
            <div class="row">
              <div
                class="reference-item col-sm-12 col-md-4 col-lg-4"
                ng-repeat="(k,v) in worksImgAndDesc track by $index"
                data-category="webapp"
              >
                <div class="reference">
                  <a href="">
                    <img
                      src="{{v.img}}"
                      alt="{{v.title}}"
                      class="image-responsive"
                    />
                    <div class="overlay">
                      <div class="inner">
                        <h3 class="h4 reference-title">{{v.title}}</h3>
                        <p><small>{{v.shortDesc}}</small></p>
                      </div>
                    </div>
                  </a>
                  <div
                    data-images="{{v.img}}"
                    class="sr-only reference-description"
                  >
                    <p>{{v.desc}}</p>
                    <p class="buttons text-center">
                      <a
                        href="{{v.url}}"
                        target="_blank"
                        class="btn btn-outline-primary"
                        ><i class="fa fa-globe"></i> Visit
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Map -->
    <div id="map"></div>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-lg-left">
            <p class="social">
              <a
                href="https://www.facebook.com/jsonryga/"
                target="_blank"
                class="external facebook wow fadeInUp"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/jasonrayga/"
                target="_blank"
                data-wow-delay="0.2s"
                class="external linkedin wow fadeInUp"
                ><i class="fab fa-linkedin" aria-hidden="true"></i
              ></a>
              <a
                href="mailto:raygajason@gmail.com"
                target="_blank"
                data-wow-delay="0.6s"
                class="email wow fadeInUp"
                ><i class="fas fa-envelope" aria-hidden="true"></i
              ></a>
            </p>
          </div>
          <!-- /.6-->
          <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
            <p>© {{yearNow}} JasonRayga. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Other JS Plugins -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </body>
</html>
